---
- name: SSH
  tags:
    - ssh
    - permitrootlogin
  when:
    ssh_permitrootlogin is not defined or
    ssh_permitrootlogin | lower() == 'prohibit-password'
  block:
    - name: Clean extra lines
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: ^\s*PermitRootLogin\s+.*$
        state: absent
        backup: true
        validate: /usr/sbin/sshd -t -f %s
      notify: SSH restart

    - name: Permitrootlogin
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: ^[#\s]*PermitRootLogin\s+.*$"
        line: "#PermitRootLogin prohibit-password"
        backup: true
        validate: /usr/sbin/sshd -t -f %s
      notify: SSH restart
